In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn import linear_model
import re

In [2]:
df =pd.read_csv("C:\\Users\\vamsi\\Downloads\\CarPrice_Assignment.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

In [35]:
df.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [48]:
df. CarName

0            alfa-romero giulia
1           alfa-romero stelvio
2      alfa-romero Quadrifoglio
3                   audi 100 ls
4                    audi 100ls
                 ...
200             volvo 145e (sw)
201                 volvo 144ea
202                 volvo 244dl
203                   volvo 246
204                 volvo 264gl
Name: CarName, Length: 205, dtype: object

In [3]:
re_test = "This is made up plastic which is food garde."
re_test_messy = "this    is made up plastic          which is    food grade."

In [4]:
# splitting a sentence into a list of words

re.split('\s',re_test)

['This', 'is', 'made', 'up', 'plastic', 'which', 'is', 'food', 'garde.']

In [7]:
re.split('\s',re_test_messy)

['this',
 '',
 '',
 '',
 'is',
 'made',
 'up',
 'plastic',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'which',
 'is',
 '',
 '',
 '',
 'food',
 'grade.']

In [16]:
#removing white space : s = white space

re.split('\s+',re_test_messy)

['this', 'is', 'made', 'up', 'plastic', 'which', 'is', 'food', 'grade.']

In [15]:
re.split('\W+',re_test_messy) # w = words spliting

['this', 'is', 'made', 'up', 'plastic', 'which', 'is', 'food', 'grade', '']

In [12]:
# find: s capital

re.findall('\S+',re_test_messy)

['this', 'is', 'made', 'up', 'plastic', 'which', 'is', 'food', 'grade.']

In [13]:
re.findall('\S+',re_test)

['This', 'is', 'made', 'up', 'plastic', 'which', 'is', 'food', 'garde.']

In [14]:
re.findall('\w+',re_test_messy)

['this', 'is', 'made', 'up', 'plastic', 'which', 'is', 'food', 'grade']

In [18]:
# Replacing a specific string :
pep8_test = 'I try to follow PEP8 guidelines'
pep7_test = 'I try to follow PEP7 guidelines'
peep8_test = 'I try to follow PEEP8 guidelines'

In [19]:
#extract only lower case elements :

re.findall('[a-z]+',pep8_test)

['try', 'to', 'follow', 'guidelines']

In [20]:
#extract only Upper case elements :

re.findall('[A-Z]+',pep8_test)

['I', 'PEP']

In [21]:
#extract only upper case and numbers  :

re.findall('[A-Z]+[0-9]+',peep8_test)

['PEEP8']

In [28]:
re.findall('[0-9]+',peep8_test)

['8']

In [22]:
# Adding string :

re.sub('[A-Z]+[0-9]+','PEP7 python styleguide',pep7_test)

'I try to follow PEP7 python styleguide guidelines'

In [24]:
re.sub('[A-Z]+[0-9]+','8005',pep7_test)

'I try to follow 8005 guidelines'

In [25]:
# pre -processing text data :

df.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [26]:
data_cleaned =pd.read_csv("C:\\Users\\vamsi\\Downloads\\CarPrice_Assignment.csv",sep='\t')
data_cleaned.head()

  car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,carwidth,carheight,curbweight,enginetype,cylindernumber,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0  1,3,alfa-romero giulia,gas,std,two,convertible...
1  2,3,alfa-romero stelvio,gas,std,two,convertibl...
2  3,1,alfa-romero Quadrifoglio,gas,std,two,hatch...
3  4,2,audi 100 ls,gas,std,four,sedan,fwd,front,9...
4  5,2,audi 100ls,gas,std,four,sedan,4wd,front,99...

In [27]:
# remove punctuation :

import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [ ]:
# Token